html {
    min-height: 100%;
    background-image: linear-gradient(#6699dd, #003399);
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 680px;
}

.button {
    border: 1px solid #ffffff;
    border-radius: 25px;

    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;

    margin-top: 12px;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    color: #003399;
    background-color: #ffffff;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 30px;

    max-width: 680px;
}
